:root {
    --tertiary: #e53170; 
    --base-100: #fffffe;
    --neutral-focus: #121629;
    --accent: #eebbc3;
  }

  * {
    margin: 0;
    scroll-behavior: smooth;
  }

  body {
    font-family: sans-serif;
    text-align: center;
    background-color: var(--tertiary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: sans-serif;
  }

  h1 {
    font-size: 60px;
  }

  #navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--tertiary);
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid var(--neutral-focus);
  }

  .nav-links {
    display: flex;
    list-style: none;
    font-family: "lobster";
  }

  .nav-links a {
    text-decoration: none;
    padding: 0 10px;
    color: var(--accent);
  }

  .nav-links a:hover {
    text-decoration: underline;
  }

  section {
    min-height: 100vh;
    padding: 70px;
  }

  #welcome-section {
    background-color: var(--accent);
    color: var(--base-100);
    display: flex;
    flex-direction: column;
  }

  #welcome-section h1 {
    margin-top: 30vh;
    color: var(--tertiary);
    font-family: "dancing script";
  }

  #welcome-section p {
    color: var(--tertiary);
    font-size: 27px;
    margin: 25px 0;
    font-style: italic;
    font-weight: bold;
    font-family: "dancing script";
  }

  #projects {
    background-color: var(--accent);
    color: var(--tertiary) ;
  }

  #projects h1 {
    width: fit-content;
    margin: auto;
    font-family: "dancing script";
    color: var(--tertiary);
  }

  #projects .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
  }

   #projects .project-tile  {
    height: 525px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary);
    color: var(--accent);
    border-radius: 5px;
    box-shadow: 8px 8px 10px 5px rgba(100, 100, 100, 0.3);
    text-decoration: none;
    font-family: "lobster";
  }

  #projects .project-tile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #profile-pic {
    width: 150px;
    border-radius: 50% 50% 45% 45%;
    place-items: center;
    display: block;
    margin: 0px auto;
    border: 7px solid var(--tertiary);
    transition: transform 0.2s ease-in;
  }

  #profile-pic:hover {
    transform: translateY(10px);
    cursor: pointer;
  }
  

  #projects .project-tile p {
    font-size: 25px;
    padding: 10px;
  }

#projects .project-tile span {
opacity: 0%;
padding: 0.5px;
}

#projects .project-tile:hover span {
 opacity: 100%;
 color: var(--accent);
 transition: opacity 0.25s ease-in;
}

.show-all {
  text-decoration: none;
  width: max-content;
  display: flex;
  margin: auto;
  align-items: center;
  padding: 0px 15px;
  background-color: var(--tertiary);
  color: var(--accent);
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.show-all:hover {
  background-color: var(--accent);
  color: var(--tertiary);
}

#contact {
  background-color: var(--tertiary);
  color: var(--accent);
}

#contact h1 {
  margin-top: 300px;
  font-family: "dancing script"
}

#contact #coffee-question {
  color: var(--tertiary);
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: "dancing script";
 }

#contact #social-media {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-around;
  margin: auto;
  margin-top: 30px; 
  font-size: 20px;
  
}

#contact #profile-link {
  text-decoration: none;
  color: var(--accent);
  transition: transform 0.2s ease-in;
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 22px;
}

#contact #profile-link:hover {
  transform: translateY(10px);
}

footer {
  border-top: 3px solid var(--accent);
  color: var(--tertiary);
  font-size: 25px;
  padding: 30px;
  background-color: var(--accent);
}

@media only screen and (width < 700px) {
  h1 {
    font-size: 50px;
  }
  #projects .project-tile {
    height: 600px;
    width: 100%;
  }
}

#select #select-box {
  color: var(--tertiary);
  background-color: var(--accent);
}

.skill-js {
  color: blue;
  transition: transform 0.2s ease-in;
  align-items: center;
  margin: 20px;
  font-size: 100px;
  display: flex;
  flex: 1;
  justify-content: center;
} 

.skill-js:hover {
  transform: translateY(10px);
}
.skill-html5 {
  color: red;
  transition: transform 0.2s ease-in;
  align-items: center;
  margin: 20px;
  font-size: 100px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.skill-html5:hover {
  transform: translateY(10px);
}

.skill-css3 {
  color: blue;
  transition: transform 0.2s ease-in;
  align-items: center;
  margin: 20px;
  font-size: 95px;  
  display: flex;
  flex: 1;
  justify-content: center;
}

.skill-css3:hover {
  transform: translateY(10px);
}

.skill-node {
  color: rgb(38, 182, 38);
  transition: transform 0.2s ease-in;
  align-items: center;
  margin: 20px;
  font-size: 100px;  
  display: flex;
  flex: 1;
  justify-content: center;
}

.skill-node:hover {
  transform: translateY(10px);
}

.skill-github {
  color: black;
  transition: transform 0.2s ease-in;
  align-items: center;
  margin: 20px;
  font-size: 100px;  
  display: flex;
  flex: 1;
  justify-content: center;
}

.skill-github:hover {
  transform: translateY(10px);
}

#info {
background-color: var(--tertiary);
}

#skill-set {
color: var(--accent);
font-size: 55px;
font-family: "dancing script";
}
 
#skills {
display: flex;
flex-wrap: wrap;
flex: 1.5em;
min-height: 100vh;
align-items: center;
justify-content:space-around;
padding-bottom: 150px;
margin: auto;
background-color: var(--accent);
}

